<section>
    <h3 id=about-me> About Myself</h3>
    <div class="face lockup">
        <div class="face-img"></div>
    </div>
    
    <div class="para">   
        <p><strong>Hi Fellow Earthlings and Aliens,</strong> I am a passionate traveller , a nature lover and a CS grad. I feel life is a gift 
        and I use this gift to explore places, know and understand nature, space, the various cultures of our earth and the science behind why stuff happens the way they are(<strong> tech &#x1F609;</strong> ).
    </p>  
    </div> 
</section>    