<section class="alt-section section-contact">
<h3 id="contact">Contact</h3>
<div class="social-links">
    <a href="" class="icon-github"></a>
    <a href="https://www.linkedin.com/in/prinon-das-070347ab/" class="icon-linkedin"></a>
    <a href="https://www.facebook.com/ultimatelyallroadsleadtothesamedirection/" class="icon-facebook2"></a>
    <a href="" class="icon-google2"></a>
    <a href="https://www.instagram.com/prinondas/" class="icon-instagram"></a>
</div>

<hr class="bar">

<a class="biglink" href="mailto:prinon.das@rwth-aachen.de">prinon.das@rwth-aachen.de</a>

</section>
