<section>
    <h3>Got Questions? Contact me!</h3>

    <form action="https://airform.io/prinon.das@rwth-aachen.de" method="POST">
        
        <div class="contact-info-group>">
        
            <label><span>Your Name</span></label>
            <input type="text" name="name" placeholder="Enter your name">
        
            <label><span>Your Email</span></label>
            <input type="email" name="_replyto" placeholder="Enter your email">
        </div>
        
        <label><span>Your Message</span></label>
        <textarea name="message" placeholder="Enter your message"></textarea>
        <div class="submit-wrap">
        <button>Send</button></div>
      </form>
</section>